@font-face {
    font-family: Georgia;
    src: url('../assets/georgia.woff2');
}

@font-face {
    font-family: Sarabun;
    src: url('../assets/Sarabun-Regular.woff2');
}

@font-face {
    font-family: Sarabun;
    font-weight: bold;
    src: url('../assets/Sarabun-Bold.woff2');
}