@font-face {
    font-family: Gochi;
    src: url('../assets/GochiHand-Regular.woff2');
}

@font-face {
    font-family: Catamaran;
    src: url('../assets/Catamaran-Regular.woff2');
}

@font-face {
    font-family: Catamaran;
    font-weight: bold;
    src: url('../assets/Catamaran-Bold.woff2');
}