@import './fonts';

/* Fonts */

$primary-font: Gochi;
$secondary-font: Catamaran;

/* Colors */
$dark-purple: #2D2140;
$yellow: #FFDE27;
$black: #000000;
$white: #ffffff;

/* Responsive */
$phone: 600px;
$tablet: 768px;