@import '../../global-styles/globals.scss';

.login-form {
    flex: 1;
    margin: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .login-form__email-field, .login-form__password-field {
        @include auth-form-field;
        .email-field__label, .password-field__label {
            @include auth-form-label;
        }
        .email-field__input, .password-field__input {
            @include auth-form-input;
        }
    }
    &__submit-btn {
        @include yellow-btn;
        width: 15rem;
        margin: 0;
        font-size: 1.5rem;
    }
}