@import '../../global-styles/globals.scss';
.genre-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    .genre-list__container {
        display: grid;
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 3rem;
        padding: 2rem;
        & > * {
            display: flex;
            justify-content: center;
            & > img {
                height: 15rem;
                width: 15rem;
            }
        }
        @media only screen and (max-width: $tablet) {
            grid-template-rows: repeat(3, 1fr);
            grid-template-columns: repeat(2, 1fr);
        }
        @media only screen and (max-width: $phone) {
            grid-template-rows: repeat(6, 1fr);
            grid-template-columns: repeat(1, 1fr);
        }
    }
}