@import '../../global-styles/globals.scss';

.landingpage-container {
    height: 100vh;
    display: flex;
    color: $dark-purple;
    &__content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex: 1;
        padding: 2rem 4rem 2rem 4rem;
        .content__title {
            font-size: 2.5rem;
            font-family: $primary-font;
            @media only screen and (max-width: $phone) {
                font-size: 2.5rem;
            }
        }
        .content__cta {
            font-size: 3rem;
            font-family: $secondary-font;
            padding: 2rem 0;
            line-height: 1.2;
            @media only screen and (max-width: $phone) {
                font-size: 2.5rem;
            }
        }
        .content__btn--register, .content__btn--login {
            display: block;
            @include yellow-btn;
            width: 15rem;
            font-size: 1.5rem;
        }
        .content__browse-link{
            font-family: $secondary-font;
            font-weight: bold;
            text-transform: uppercase;
            color: $yellow;
            text-decoration: none;
        }
    }
    &__illustration-box {
        position: relative;
        overflow: hidden;
        .illustration-box__svg {
            position: relative;
            width: 50rem;
            padding: 2rem 0 0 0;
            max-height: 100vh;
            // top: 10rem;
            // left: 5rem;
        }
        @media only screen and (max-width: $tablet) {
            display: none;
        }
    }
}